.about {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: skew(-20deg) translateX(35%);
  width: 15%;
  height: 100%;
  margin: 0 40px;
  background-image: linear-gradient(120deg, #ffc450, #fff6d3);
  background-color: #333;
  opacity: 0.4;
}

.about__top-part {
  flex: 0 1 140px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 575px) {
  .about__top-part {
    flex: 0 1 100px;
  }
}

.about__about-me-container {
  opacity: 0.6;
  padding: 4px 8px;
  width: fit-content;
  background-color: #ffb82b;
  color: #4c00ff;
}

.about__about-me {
  text-transform: uppercase;
}

.about__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 60px;
  position: relative;
  max-width: 1280px;
  padding: 0 40px;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
  }
}

.about__image-container {
  z-index: 5;
  max-width: 400px;
  min-width: 200px;
  margin-top: 8rem;
}

@media screen and (max-width: 575px) {
  .about__image-container {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.about__image {
  border-radius: 50%;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about__text-container {
  /* margin-left: 40px; */
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.303);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

@media screen and (max-width: 575px) {
  .about__text-container {
    margin-left: 0;
    padding: 4px;
  }
}

.about__text-header-container {
  max-width: 400px;
  line-height: 3em;
}

.about__text-header {
  font-size: 42px;
}

@media screen and (max-width: 765px) {
  .about__text-header {
    font-size: 38px;
  }
}
.about__text-container::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -20%;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  width: 60px;
  height: 60px;
  background-image: linear-gradient(30deg, #8752ff, #5f3ab3);
  opacity: 0.1;
}

.about__circle {
  content: "";
  position: absolute;
  bottom: -5%;
  right: 5%;
  border: 8px solid #deff50;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  z-index: 1;
  opacity: 0.3;
}

.about__text-header {
  margin-top: 0px;
  margin-bottom: 30px;
}

.about__main-text-container {
  max-width: 600px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 40px;
  font-size: 20px;
}

.about__text_bold {
  font-weight: 600;
}

.about__download-button {
  margin-bottom: 40px;
}

@media screen and (max-width: 575px) {
  .about__download-button {
    text-align: center;
  }
}

.about__download-button-link {
  border: 0;
  background: #8752ff;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 400ms ease;
}

.about__download-button-link:hover {
  background: #ffb82b;
  color: #8752ff;
}

.about__social-links-container {
}

.about__social-links-description-container {
  font-size: 20px;
  margin-bottom: 10px;
}

.about__social-links-description {
}

.about__social-link-a {
  color: #000;
  transition: all 400ms ease;
}

.about__social-link-a:hover {
  color: #ffc450;
}

.about__social-link {
  font-size: 26px;
  color: #000;
}

.about__social-links {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 575px) {
  .about__social-links-container {
    text-align: center;
  }
  .about__social-links {
    justify-content: center;
  }
}

.about__triangle-container {
  position: absolute;
  top: 45%;
  left: -15%;
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
}

.about__triangle {
  width: 240px;
  height: 240px;
  position: relative;
  border-top: 6px solid #ff50d5;
  opacity: 0.2;
}

.about__inner-triangle {
  position: absolute;
  margin: auto;
  top: -89px;
  left: 0;
  right: 0;
  width: 173px;
  height: 173px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  border-right: 6px solid #ff50d5;
  border-bottom: 6px solid #ff50d5;
}
