.portfolio {
  flex: 1 1 auto;
  background-color: #ffc450;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.portfolio__top {
  flex: 0 1 160px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 575px) {
  .portfolio__top {
    flex: 0 1 100px;
  }
}

.portfolio__header-container {
  text-transform: uppercase;
  opacity: 0.8;
  background-color: #8752ff;
  padding: 4px 8px;
  /* text-align: center;
  width: fit-content; */
}
@media screen and (max-width: 989px) {
  .portfolio__header-container {
    text-align: left;
    font-size: 24px;
  }
}
.portfolio__header {
  color: #fff;
}

.portfolio__container {
  max-width: 900px;
  padding: 0 40px;
  width: 100%;
  flex: 1 1 auto;
}

@media screen and (max-width: 989px) {
  .portfolio__container {
    padding: 0;
  }
}

.portfolio__projects-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}

.control-dots {
  bottom: -10px;
}

.carousel-slider {
  padding-bottom: 30px;
}
