.portfolio {
  flex: 1 1 auto;
  background-color: #ffc450;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  min-height: 91vh;
}

.portfolio__header-container {
  margin: 100px auto;
  text-transform: uppercase;
  opacity: 0.8;
  background-color: #8752ff;
  padding: 4px 8px;
  text-align: center;
  width: fit-content;
}

.portfolio__header {
  color: #fff;
}

.portfolio__container {
  max-width: 1250px;
  padding: 0 40px;
  margin: 0 40px;
  width: 100%;
}

.portfolio__slider-container {
}

.portfolio__projects-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 60px;
}
