.project-card {
  /* margin-bottom: 20px; */
  padding: 0 40px;
}

.project-card__container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  gap: 40px;
  padding: 40px 60px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 989px) {
  .project-card__container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .project-card__container {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background-color: transparent;
  }
}

.project-card__screenshot {
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.project-card__text-container {
  flex: 0 2 auto;
  text-align: justify;
}

@media screen and (max-width: 989px) {
  .project-card__text-container {
    padding-right: 0;
  }
}

.project-card___description-container {
}

.project-card__title-container {
}

.project-card__separation-line {
  height: 0px;
  width: 100%;
  background: #ffb82b;
  opacity: 0.3;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 575px) {
  .project-card__separation-line {
    height: 4px;

    background: #8752ff;
  }
}

.project-card__title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.project-card__tools-container {
  text-align: left;
  margin-bottom: 10px;
}

.project-card__tools {
  font-weight: 600;
  font-size: 20px;
}

.project-card__tool {
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .project-card__title {
    font-size: 20px;
    letter-spacing: 0.3px;
  }

  .project-card__tools {
    font-size: 18px;
  }
}

.project-card___description {
  font-weight: 400;
  font-size: 20px;
}

.project-cars__links-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.project-cars__link {
  border: 0;
  background: #8752ff;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: all 400ms ease;
  color: #fff;
}

.project-cars__link:hover {
  background: #ffb82b;
  color: #8752ff;
}

@media screen and (max-width: 380px) {
  .project-cars__link {
    font-size: 20px;
    padding: 10px 15px;
  }
}
