.project-card {
  /* margin-bottom: 20px; */
  padding: 0 40px;
}

.project-card__container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  gap: 40px;
  padding: 40px 60px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 989px) {
  .project-card__container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .project-card__container {
    margin: 0 24px;
    padding: 10px;
    box-shadow: none;
    background-color: transparent;
  }
}

.project-card__screenshot {
  width: 100%;
}

.project-card__text-container {
  flex: 0 2 auto;
  text-align: justify;
}

@media screen and (max-width: 989px) {
  .project-card__text-container {
    padding-right: 0;
  }
}

.project-card__title-container {
  margin-bottom: 12px;
}

.project-card__title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
}

.project-card__tools-container {
  text-align: left;
  margin-bottom: 10px;
}

.project-card__tools {
  font-weight: 600;
  font-size: 20px;
}

.project-card__tool {
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 355px) {
  .project-card__title {
    font-size: 26px;
    letter-spacing: 0.3px;
  }

  .project-card__tools {
    font-size: 18px;
  }
}

.project-card___description {
  font-weight: 400;
  font-size: 20px;
}

.project-cars__links-container {
  margin-top: 2rem;
  display: flex;
  gap: 0.8rem;
}

.project-cars__link {
  font-size: 1.8rem;
  color: black;
  transition: all 400ms ease;
}

.project-cars__link:hover {
  color: #ffb82b;
}
